body {
    background-color: #faf8ed;
}

nav {
    background-color: #faf8ed;

}

.nav-container {
    padding: 0px 55px;
}

nav div .logo-container p {
    font-size: 20px;
    font-weight: 700;
    padding-top: 12px;
    font-family: 'Poppins';
    font-style: normal;
    margin-left: 20px;
}

.logo-container {
    display: flex;
    align-items: center;

}

nav div a img {
    width: 42px;
    height: 35px;

}

.navbar-nav {
    margin-left: 70px;
}

.nav-item {
    margin: 0px 10px;
}

.nav-item a {
    font-size: 16px !important;
    font-weight: 500;
    font-style: normal;
    font-family: 'Poppins';
    line-height: 16px;
    color: #2E476B !important;
}

#small-line1 {
    height: 10%;
    max-width: 20%;
    background-color: #F66F4D;
    margin-left: 8px;
    visibility: hidden;
}

.nav-item:hover #small-line1 {
    visibility: visible;
    height: 10%;
    background-color: #F66F4D;
    margin-left: 8px;
    max-width: 75%;
    transition: all 500ms;
    transition-delay: 100ms;
}

#small-line2 {
    height: 10%;
    max-width: 20%;
    background-color: #F66F4D;
    margin-left: 8px;
    visibility: hidden;
}

.nav-item:hover #small-line2 {
    visibility: visible;
    height: 10%;
    background-color: #F66F4D;
    margin-left: 8px;
    max-width: 80%;
    transition: all 500ms;
    transition-delay: 100ms;
}

#small-line3 {
    height: 10%;
    max-width: 20%;
    background-color: #F66F4D;
    margin-left: 8px;
    visibility: hidden;
}

.nav-item:hover #small-line3 {
    visibility: visible;
    height: 10%;
    background-color: #F66F4D;
    margin-left: 8px;
    max-width: 85%;
    transition: all 500ms;
    transition-delay: 100ms;
}

#small-line4 {
    height: 10%;
    max-width: 20%;
    background-color: #F66F4D;
    margin-left: 8px;
    visibility: hidden;
}

.nav-item:hover #small-line4 {
    visibility: visible;
    height: 10%;
    background-color: #F66F4D;
    margin-left: 10px;
    max-width: 70%;
    transition: all 500ms;
    transition-delay: 100ms;
}

#small-line5 {
    height: 10%;
    max-width: 20%;
    background-color: #F66F4D;
    margin-left: 10px;
    visibility: hidden;
}

.nav-item:hover #small-line5 {
    visibility: visible;
    height: 10%;
    background-color: #F66F4D;
    margin-left: 10px;
    max-width: 65%;
    transition: all 500ms;
    transition-delay: 100ms;
}

.nav-btn {
    padding: 10px 35px;
    border: 1px solid #F66F4D;
    color: #F66F4D !important;
    border-radius: 27px;
    text-align: center;
    background-color: #faf8ed;

}

.nav-btn:hover {
    background-color: #F66F4D;
    color: white !important;
}

.nav-btn img {
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
}

/*header*/
.header-container {
    background-color: #faf8ed;
}

.header-container h1 {
    font-weight: 700;
    font-size: 84px;
    font-family: 'Sen';
    line-height: 86px;
    color: #2D3134;
    margin-top: 80px;
}

.header-container p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #5B5F62;
    max-width: 90%;
}

.header-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left {}

.right-side {
    height: 85%;
    width: 71%;
    border-radius: 100%;
    position: relative;
    top: 15%;
    left: 30%;
    border: 1px solid green;

}

.circular-bg {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: ;
}

.intersect1 {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: ;
}

.young-man {
    position: absolute;
    z-index: 2;
    max-height: 90%;
    left: 9%;
    bottom: 10%;
}

.input-container {
    display: flex;
    background-color: white;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 15px 0px;
}

.fa-magnifying-glass {
    margin-left: 70px;
    color: white;
    padding: 20px 20px;
    border-radius: 10px solid #F66F4D;
    background-color: #F66F4D;
    border-radius: 30px;
}

.first-input {
    position: relative;
}

.fa-location-dot {
    position: absolute;
    right: 30%;
    top: 55%;
    color: #F66F4D;
}

.input-heading {
    font-size: 15px !important;
    font-weight: bolder !important;
    font-family: 'Inter';
    text-align: left;
    color: #2D3134 !important;
    margin-bottom: 0;
}

.first-input input::placeholder {
    font-size: 12px !important;
}

.first-input input {
    border: none;
    outline: none;
}

.second-input input {
    border: none;
    outline: none;
}


.fa-pipe {
    position: absolute;
    right: 15%;
    top: 8%;
    font-size: 50px;
    color: #e5e9ec;
    border-width: 1px;
}

/*header ends*/

/*carousel1*/
.carousel1 {
    background-color: #faf8ed;
}

.fourth-part {
    margin: 0px 5px;
    position: relative;
}

.trans-visit {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter';
    color: white;
    visibility: hidden;
}

.fourth-part:hover .trans-visit {
    visibility: visible;
    cursor: pointer;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.category-content p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #5B5F62;
    max-width: 33%;
    padding-top: 5px;
    padding-bottom: 45px;
}

.owl-nav {}

/*carousel1 ends*/

/*our experience*/

.experience-right {
    background-color: #faf8ed;
}

.first-p {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #F66F4D;

}

.second-p {
    font-family: 'Inter';
    font-size: 56px;
    font-weight: 600;
    text-align: left;
    color: #2D3134;
}

.third-p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #5B5F62;
    max-width: 85%;
}

.indexes {
    display: flex;

}

.index1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 15px;
    padding: 8px;
}

.index1 h6 {
    font-family: 'Inter';
    font-size: 46px;
    font-weight: 600;
    text-align: left;
    color: #F66F4D;
}

.index1 p {
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    color: #939597;
    max-width: 90%;
    text-align: center;
    margin-bottom: 0;
}

.experience-container {
    background-color: #faf8ed;
}

.experience-left {
    position: relative;
    background-color: #faf8ed;
    width: 100%;
    text-align: center;
}

.card1 {
    position: absolute;
    top: 45%;
    right: 75%;
}

.card2 {
    position: absolute;
    right: 0%;
    top: 79%;
}

/*our experience ends*/

/*Popuplar destinations*/
.sec-head1 {
    font-family: 'Inter';
    font-weight: 600;
    text-align: left;
    color: #2D3134;
    max-width: 90%;
}

.fifth-part {
    padding: 12px;
}

.fifth-part .pd-p2 {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #5B5F62;
    padding-left: 10px;
}

.pd-p3 {

    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
    padding-left: 10px;
}

.pd-p4 {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
}

.pd-btn {
    color: #2D3134;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 30px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: left;

}

.pd-btn:hover {
    color: #FFFFFF;
    background-color: #2D3134;
    padding: 11px 21px;
    border: none;
    border-radius: 30px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: left;

}

/*Popuplar destinations ends*/

/*Top destinations*/
.top-dest-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1 {
    font-family: 'Inter';
    font-size: 56px;
    font-weight: 600;
    text-align: left;
    color: #2D3134;
}

#p2 {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #5B5F62;
}

.content-buttons {
    display: flex;
    margin-bottom: 35px;
}

.content-buttons div button {
    border: 1px solid black;
    background-color: #faf8ed;
    padding: 8px 20px;
    border-radius: 30px;
    margin: 10px;
}

.content-buttons div button:hover {
    border: none;
    background-color: #3D3D3D;
    color: white;
    padding: 9px 21px;
    border-radius: 30px;
    margin: 10px;
}

.btn-collection1 {
    display: flex;
}

.btn-collection2 {
    display: flex;
}

.grid-container {
    display: grid;
    gap: 25px;
    grid-template-areas:
        'image1 image3 image3'
        'image2 image3 image3'
    ;
}

#grid-item1 {
    grid-area: image1;
    position: relative;
}

.btn-number {
    position: absolute;
    top: 10%;
    left: 7%;
    background-color: white;
    border-radius: 40px;
    padding: 5px 12px;
}

.grid1-img-p1 {
    position: absolute;
    top: 70%;
    left: 8%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
}

.grid1-img-p2 {
    position: absolute;
    top: 80%;
    left: 8%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

#grid-item2 {
    grid-area: image2;
    position: relative;
}

.grid1-img-p5 {
    position: absolute;
    top: 86%;
    left: 8%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
}

.grid1-img-p6 {
    position: absolute;
    top: 90.5%;
    left: 8%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

#grid-item3 {
    grid-area: image3;
    position: relative;
}



.grid-container2 {
    display: grid;
    gap: 10px;
    grid-template-areas:
        'images1 images1'
        'images2 images3'
    ;
}


#grid2-item1 {
    grid-area: images1;
    position: relative;
}

.grid1-img-p7 {
    position: absolute;
    top: 74%;
    left: 8%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
}

.grid1-img-p8 {
    position: absolute;
    top: 84%;
    left: 8%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

#grid2-item2 {
    grid-area: images2;
    position: relative;
}

.grid1-img-p9 {
    position: absolute;
    top: 74%;
    left: 8%;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
}

.grid1-img-p10 {
    position: absolute;
    top: 84%;
    left: 8%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

#grid2-item3 {
    grid-area: images3;
    position: relative;
}

/*Top destinations end*/

/*Feedback*/
.feedback-right h1 {
    font-family: 'Inter';
    font-size: 56px;
    font-weight: 600;
    text-align: left;
    color: #2D3134;
}

.carousel-item {
    background-color: white;
    padding: 20px;
}

.carousel-item p {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #5B5F62;
    max-width: 85%;
}

.button-container {
    position: relative;
    width: 100%;
    margin-top: -10%;

}

.button-container .carousel-control-prev {
    position: absolute;
    left: 74%;
}

.button-container .carousel-control-next {
    position: absolute;
}

.owl-nav button .first-prev {
    position: absolute;
    top: 0%;
    margin-top: -18%;
    margin-left: 40%;
}

.owl-nav button .first-next {
    position: absolute;
    top: 0%;
    margin-top: -18%;
    margin-left: 45%;
}

.owl-nav button .second-prev {
    position: absolute;
    top: 0%;
    margin-top: -120px;
    margin-left: 440px;
}

.owl-nav button .second-next {
    position: absolute;
    top: 0%;
    margin-top: -120px;
    margin-left: 495px;
}

.fa-chevron-left {
    color: black;
    border: 1px solid black;
    padding: 16px 20px;
    border-radius: 30px;
}

.fa-chevron-right {
    border: 1px solid black;
    padding: 16px 20px;
    color: white;
    border-radius: 30px;
    background-color: black;
}

.star-container i {
    color: #ffc14b;
    padding-bottom: 10px;
}

.star-container h6 {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #2D3134;
}

.star-container p {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #5B5F62;
}

.feedback-left {
    width: 100%;
    text-align: center;
}

/*Feedback ends*/

/*Newsletter*/

.newsletter-container {
    background-color: #faf8ed;
}

.newsletter {
    width: 100%;
    background-color: #ffd482;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.newsletter-input-container {
    z-index: 1;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    border: none;
    border-radius: 12px;
    outline: none;
    /* padding: 0px 0px 0px 20px; */
    background-color: white;
}

.newsletter-input-container input {

    border: none;
    border-radius: 12px;
    outline: none;
    padding: 12px 0px 12px 20px;
    width: 100%;
    z-index: 1;
}

.newsletter-input-container i {
    padding: 10px 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin: 0% 2%;
}

.newsletter img {
    position: absolute;
    z-index: 0;


}

.p1 {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    color: #2D3134;
    margin-top: 4%;
    z-index: 1;
}

.p2 {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #5B5F62;
    max-width: 37%;
    text-align: center;
    z-index: 1;
}

/*Newsletter ends*/

/*footer*/
footer {
    background-color: #faf8ed;
    padding-bottom: 4%;

}

.footer-left1 p {
    max-width: 40%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    color: #5B5F62;
    padding: 15px 0px;
}

.footer-left1 img {
    width: 42px;
    height: 35px;
}

.footer-left2 i {
    padding: 10px;
    border: 1px solid #5B5F62;
    border-radius: 30px;
    color: #5B5F62;
}

.footer-left2 i:hover {
    border: 1px solid #F66F4D;
    color: #F66F4D;
}

.footer-left2 .fa-facebook-f {
    padding: 10px 13px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo p {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Sen';
    color: #2D3134;
}

.column-heading {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #2D3134;
    margin-top: 20px;
}

.column-list {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #676A6C;
}

/*footer ends*/

/*Media queries*/



@media screen and (max-width:1199px) {
    .header-left h1 {
        font-size: 60px !important;
        line-height: 65px !important;
    }

    .header-left>p {
        max-width: 96%;
        font-size: 15px;
        margin: 20px 0px !important;
    }

    .header-right>img {
        width: 100% !important;
        height: 100% !important;
        padding-top: 10px !important;
    }

    .input-container {
        width: 100% !important;
    }

    .fa-magnifying-glass {
        margin-left: 0 !important;

    }

    .second-input {
        margin-right: ;
    }

    .owl-nav button .first-prev {
        position: absolute;
        top: 0%;
        margin-top: -22%;
        margin-left: 38%;
    }

    .owl-nav button .first-next {
        position: absolute;
        top: 0%;
        margin-top: -22%;
        margin-left: 44%;
    }

    .category-content p {
        max-width: 40%;
    }

    .second-p {
        font-size: 50px;
    }

    .third-p {
        font-size: 14px;
    }

    .index1 h6 {
        font-size: 40px;
    }

    .index1>p {
        font-size: 15px;
    }

    .carousel-control-prev {
        left: 71% !important;
    }

    .owl-nav button .second-prev {
        margin-left: 347px !important;
    }

    .owl-nav button .second-next {
        margin-left: 405px !important;
    }
}

@media screen and (max-width:991px) {
    .input-container {
        max-width: 67% !important;
        margin: 40px 0px 40px 120px !important;
    }

    .second-input {
        margin-right: 40px !important;
    }

    .owl-nav button .first-prev {
        margin-top: -205px !important;
        margin-left: 255px !important;
    }

    .owl-nav button .first-next {
        margin-top: -205px !important;
    }

    .category-content p {
        max-width: 55% !important;
    }

    .third-p {
        max-width: 60% !important;
    }

    .owl-nav button .second-prev {
        margin-left: 242px !important;
    }

    .owl-nav button .second-next {
        margin-left: 300px !important;
    }

    #pd-p1 {
        font-size: 16px !important;
        max-width: 90% !important;
    }

    #pd-p2 {
        font-size: 16px !important;
        max-width: 85% !important;
    }

    #pd-p3 {
        font-size: 14px !important;
        max-width: 100% !important;
    }

    .pd-p3 {
        font-size: 16px !important;
    }

    .pd-p4 {
        font-size: 12px !important;
    }

    .pd-btn {
        color: #2D3134;
        padding: 6px 16px;
        border: 1px solid black;
        border-radius: 30px;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        text-align: left;
    }

    .pd-btn:hover {
        color: white;
        padding: 6px 16px;
        border: 1px solid black;
        border-radius: 30px;
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 400;
        text-align: left;
    }

    .grid-container {
        gap: 10px;
        margin-bottom: 10px;
    }

    .feedback-left {
        margin-bottom: 60px;
    }

    .carousel-control-prev {
        left: 76% !important;
    }

}

@media screen and (max-width:820px) {

    /* .navbar-nav {
        margin-left: 55px !important;
    } */
    .navbar {
        padding: ;
    }

    .nav-btn {
        display: none;
    }

    .grid-container2 {
        margin-top: 4%;
        gap: 25px;
    }

    .feedback-left {
        margin-bottom: 8%;
    }

    .owl-nav button .first-prev {
        margin-left: 38%;
        margin-top: -32%;
    }

    .owl-nav button .first-next {
        margin-left: 46%;
        margin-top: -32%;
    }

    .category-content p {
        max-width: 55%;
    }

    .experience-left {
        margin-bottom: 12%;
    }

    .input-container {
        display: none;
    }

    .header-right {
        margin-top: 40px;
    }

    .owl-nav button .first-prev {
        margin-left: 236px !important;
        margin-top: -205px !important;
    }

    .owl-nav button .first-next {
        margin-left: 290px !important;
        margin-top: -205px !important;
    }

    .feedback-right h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .carousel-control-prev {
        margin-left: 24px;
    }

    .owl-nav button .second-prev {
        margin-top: -115px;
        margin-left: 230px !important;
    }

    .owl-nav button .second-next {
        margin-top: -115px;
        margin-left: 285px !important;
    }

    .button-container .carousel-control-prev {
        position: absolute;
        left: 72%;
    }

    .grid-container {
        margin-bottom: -16px !important;
    }

    .grid-container2 {
        gap: 10px;
    }

    .carousel-control-prev {
        left: 73% !important;
    }
}

@media screen and (max-width:768px) {
    .nav-container {
        padding-left: 39px;
    }

}

@media screen and (max-width:767px) {
    .owl-nav button .first-prev {
        margin-top: -230px !important;
        margin-left: 190px !important;
    }

    .owl-nav button .first-next {
        margin-top: -230px !important;
        margin-left: 240px !important;
    }

    .owl-nav button .second-prev {
        margin-top: -110px !important;
        margin-left: 170px !important;
    }

    .owl-nav button .second-next {
        margin-top: -110px !important;
        margin-left: 220px !important;
    }

    .carousel-control-prev {
        left: 68% !important;
    }

    .carousel-item p {
        max-width: 98%;
    }

    .p1 {
        font-size: 30px;
    }

    .p2 {
        max-width: 60%;
    }
    .grid-container{
        margin-bottom: -12px !important;
    }
}

@media screen and (max-width:500px) {
    .res-new {
        font-size: 40px !important;
    }

    .owl-nav button .first-prev {
        margin-left: 100px !important;
        margin-top: -195px !important;
    }

    .owl-nav button .first-next {
        margin-top: -195px !important;
        margin-left: 150px !important;
    }
    .owl-nav button .second-prev{
        margin-left: 130px !important;
    }
    .owl-nav button .second-next{
        margin-left: 175px !important;
    }

    .fa-chevron-left {
        color: black;
        border: 1px solid black;
        padding: 12px 16px;
        border-radius: 26px;
    }

    .fa-chevron-right {
        border: 1px solid black;
        padding: 12px 16px;
        color: white;
        border-radius: 26px;
        background-color: black;
    }
    .category-content p{
        max-width: 80% !important;
    }
    .second-p{
        font-size: 40px !important;
    }
    #p1{
        font-size: 40px !important;
    }
    .feedback-right h1{
        font-size: 40px !important;
    }
    .header-left h1{
        font-size: 50px;
    }
    .content-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid-container{
        margin-bottom: -11px !important;
    }
}
@media screen and (max-width:390px) {
    nav {
        padding: 0px 20px;
    }

    nav div .logo-container p {
        font-size: 18px;
    }

    nav div a img {
        width: 38px;
        height: 31px;

    }

    .p1 {
        font-size: 20px;
    }

    .p2 {
        font-size: 10px;
        max-width: 70%;
    }

    #p1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .content-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid1-img-p1 {
        top: 65%;
    }

    .grid1-img-p5 {
        top: 84%
    }

    .grid1-img-p7 {
        top: 72%;
    }

    .grid1-img-p9 {
        top: 75%;
    }

    .grid-container2 {
        margin-top: 7%;
    }

    .index1 h6 {
        font-size: 35px;
    }

    .index1 p {
        font-size: 13px;
    }

    .header-container h1 {
        font-size: 50px;
        line-height: 65px;
        margin-top: 30px;
    }

    .fa-chevron-left {
        color: black;
        border: 1px solid black;
        padding: 8px 12px;
        border-radius: 22px;
    }

    .fa-chevron-right {
        color: black;
        border: 1px solid black;
        padding: 8px 12px;
        border-radius: 22px;
        color: white;
    }

    .category-content p {
        max-width: 98%;
    }

    .owl-nav button .first-prev {
        margin-left: 90px !important;
        margin-top: -182px !important;
    }

    .owl-nav button .first-next {
        margin-left: 125px !important;
        margin-top: -182px !important;
    }

    .res-new {
        font-size: 30px !important;
    }

    .card1 {
        width: 40%;
        height: 40%;
        top: 45%;
        right: 68%;
    }

    .card2 {
        width: 40%;
        height: 40%;
        right: 6%;
        top: 76%;
    }

    .feedback-right h1 {
        font-size: 40px;
    }

    .carousel-control-prev {
        margin-left: 4px;
    }

    .nav-container {
        padding: 0px 25px;

    }

    .nav-fluid {
        padding: 0 !important;
    }

    .navbar {
        padding-left: 0px !important;
        padding-right: 10px !important;
    }

    .nav-container {
        padding-right: 6px !important;
        padding-left: 20px !important;
    }

    .owl-nav button .second-prev {
        margin-top: -115px;
        margin-left: 100px !important;
    }

    .owl-nav button .second-next {
        margin-top: -115px;
        margin-left: 140px !important;
    }

    #footer-section1 {
        margin-bottom: 30px;
    }
    .header-left h1{
        font-size: 40px !important;
        line-height: 50px !important;
    }
    .owl-nav button .first-prev{
        margin-top: -209px !important;
    }
    .owl-nav button .first-next{
        margin-top: -209px !important;
    }
    .owl-nav button .second-prev{
        margin-top: -100px !important;
        margin-left: 90px !important;
    }
    .owl-nav button .second-next{
        margin-top: -100px !important;
        margin-left: 126px !important;
        
    }
    .carousel-control-prev{
        margin-top: -40px !important;
        left: 72% !important;
    }
    .carousel-control-next{
        margin-top: -40px !important;
    }
    .third-p{
        max-width: 98% !important;
    }
}
